.modal__delete {
  border-style: none;
  background-color: rgba(0, 0, 0, 0);
  color: #ff4d00;
  position: absolute;
  bottom: 68px;
  right: 32px;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
}

.modal__title-delete {
  text-align: center;
  width: 367px;
  height: 48px;
  margin: 60px auto 172px auto;
}

.modal__confirmation {
  border-style: none;
  background-color: rgba(0, 0, 0, 0);
  color: #ff4d00;
  position: absolute;
  top: 148px;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
  width: 100%;
}

.modal__cancel {
  border-style: none;
  background-color: rgba(0, 0, 0, 0);
  color: #000;
  position: absolute;
  bottom: 60px;
  left: 305px;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
}
