ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
}

.main__description-container {
  display: flex;
  flex-direction: row;
  font-size: 20;
  max-height: 40px;
}

.main__items {
  display: grid;
  max-width: 1360px;
  grid-template-columns: repeat(4, 1fr);
  padding: 0;
  gap: 20px;
  margin-bottom: 85px;
}
