.footer {
  display: flex;
  justify-content: space-between;
  max-width: 1360px;
  margin: auto;
}

.footer__developer {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.footer__copyright {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
